
table{
	 border-style: solid;
	 border-color: #898989;
}
 table,TH,TD, {
  border-style: double;
	 Background-color:yellow;
	           padding: 5px;
            text-align: center;
	   font-size: 1.4EM;
	
}
caption {    text-align: center;
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;}


    