table {
           
            width: 100%;
            background-color: yellow;
	
	
        }

        table, th, td { 
           
					
        }

        th, td { 
            padding: 10px;
            text-align: left;
			 border: 1px solid black  ;
			
        }

        th {
            
        }

        caption {
            caption-side: top;
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }

    